.feed{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    background-color: #F3F3F3;
}
.tab{
    margin-left: auto;
    margin-right: auto;
}


.card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    /* display: flex;
    flex-direction: column; */
}

.scard{
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.action{
    display: flex;
    
}