.feed{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    background-color: #F3F3F3;
}
.tab{ 
    position: sticky;
    top: 0px;
   
    margin-left: auto;
    margin-right: auto;
}


.card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    /* display: flex;
    flex-direction: column; */
}

.scard{
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.action{
    display: flex;
    
}
/* .action > * {
    flex: 2.2 1 auto;
} */

body{
    margin: 0;
}
img{
    width: 100%;
}